.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black);
}

.page-layout__body {
  display: flex;
  flex: 1;
  position: relative;
  /* margin-left: 18rem; */
}

.page-layout__left-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 18rem;
  background-color: var(--black);
  z-index: 400;
  display: flex;
  flex-direction: column;
}

.page-layout__left-nav-content {
  padding-top: 5rem;
  overflow-y: auto;
  height: 100%;
}

.page-layout__main {
  flex: 1;
  padding: 10rem 2rem 2rem;
  position: relative;
  background-color: var(--black);
}

@media (max-width: 640px) {
  .page-layout__body {
    /* margin-left: 0; */
  }

  .page-layout__left-nav {
    display: none;
  }
}
